
<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
</head>
<body>
    <div class="signup-box">
        <header><h2>Sign Up</h2></header>
            <form method="post">
                    {% csrf_token %}
                    <span class="signup-form">{{ form.as_p }}</span>
                    <button type="submit">계정 만들기</button>
            </form>
        <p>Already have an account? <a href="{% url 'accounts:login' %}">Login</a></p>
    </div>
</body>
</html>