<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mini7_8_Web{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block extrahead %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/rag-gpt/">RAG GPT</a></li>
                <li><a href="/chain-gpt/">LANG-CHAIN GPT</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
