


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'chain_gpt/style.css' %}">
    {% endblock %}
</head>
<body>
    <header class='top'>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="/rag-gpt/">RAG GPT</a></li>
                <li><a href="/chain-gpt/">LANG-CHAIN GPT</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">

        <h3>Chat Interface</h3><br>
        <form action="{% url 'chain_chatgpt:chat' %}" method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <div id="chat-box">
                <div id="chat-history">
                    <div class="null"></div>
                    <div class="message human">
                        <span class="message-content">안녕하세요.</span>
                    </div>
                    <hr width = "100%" color = "white" size = "3">
                    <div class="message ai">
                        <span class="message-content">안녕하세요! lang-chain gpt입니다. 저에게 무엇이든 물어보세요!</span> 
                    </div>
                    {% if chat_history %}
                        {% for message in chat_history %}
                            <div class="message human">
                                <span class="message-content">{{ message.human }}</span>
                            </div>
                            <div class="message ai">
                                <span class="message-content">{{ message.ai }}</span>  
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="input-box">
                    <textarea id="question" name="question" placeholder="궁금한 점을 물어보세요!"></textarea>
                    <button id="text-button" type="submit">send</button>
                </div>
            </div>
        </form>
    </div>
</body>
