<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    {% load static %}
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="sub-admin-page">
      <div class="main1">
        <h3 class="hi-this-it">Hi, This it Admin Page.</h3>
      </div>
      <div class="navigation">
        <div class="log-wrapper">
          <div class="log">Log</div>
        </div>
        <div class="divider"></div>
      </div>
    </div>
  </body>
</html>
