.hi-this-it {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.main1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.log {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.log-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) 0 0;
}
.divider {
  align-self: stretch;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.navigation,
.sub-admin-page {
  display: flex;
  align-items: flex-start;
}
.navigation {
  width: 290px;
  height: 827px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.sub-admin-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 44px 42px 59px;
  box-sizing: border-box;
  gap: 36px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 48px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .hi-this-it {
    font-size: var(--font-size-19xl);
  }
  .log {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 675px) {
  .sub-admin-page {
    gap: 18px;
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .hi-this-it {
    font-size: 29px;
  }
  .log {
    font-size: var(--font-size-lgi);
  }
}
